<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd" >

 <!-- <context:property-placeholder location="classpath:config.properties" />-->
  <context:component-scan base-package="org.itstep"/>
  <context:annotation-config></context:annotation-config>

  <bean name="view" class="ua.kpi.calculator.view.View"/>
  <bean name="inputStream" class="ua.kpi.calculator.controller.InputStreamAdapter" factory-method="getInputStream" />
  <bean name="controller" class="ua.kpi.calculator.controller.Controller">
    <constructor-arg name="inputStream" ref="inputStream" />
    <constructor-arg name="view" ref="view" />
  </bean>
</beans>